[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Prashant-12-08/realEstateAppFrontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/Prashant-12-08/realEstateAPI.git
